@import url(styles/response.css);
@import url(styles/promptsForm.css);

:root {
  --primaryCTA: #0043c8;
  --beigeBG: beige;
  --darkBorderColor: black;
  --primaryFontColor: white;
}

body {
  font-family: Monospace, serif;
}

label {
  font-size: 12px;
}

footer {
  position: absolute;
  top: 20vh;
  left: 80%;
  transform: rotate(90deg);
}

