.prompts {
  width: 60%;
  margin: 0px auto;
}

.prompts__form {
  display: flex;
  flex-direction: column;
}

.prompts__form__input {
  height: 30vh;
}

.prompts__form__submit-btn,
.prompts__form__quick-prompt {
  width: 20%;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.prompts__form__submit-btn:focus-visible, /* to maintain accessibility via keyboard focus */
  .prompts__form__quick-prompt:focus-visible {
  outline: 2px solid var(--darkBorderColor);
  outline-offset: 2px;
}

.prompts__form__submit-btn {
  align-self: flex-end;
  background-color: var(--primaryCTA);
  color: var(--primaryFontColor);
}

.prompts__form__quick-prompts {
  display: flex;
}

.prompts__form__quick-prompt {
  border: 0.5px dotted var(--darkBorderColor);
  margin: 10px;
}

.prompts__error-toast,
.prompts__loading-toast {
  height: 5vh;
  width: 40vw;
  position: absolute;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.prompts__error-toast {
  background-color: lightcoral;
}

.prompts__error-toast::before {
  content: "There was an error while fetching data from OpenAI, oh nooooooez! =(";
}

.prompts__loading-toast {
  background-color: lightblue;
}

.prompts__loading-toast::before {
  content: "Loading response for your prompt! Oh Yeahhh!!!";
}
